<div class="header">
  <div>
    <span></span>
  </div>
</div>

<button mat-button color="secondary" (click)="open()">Registrar</button>
<div class="table-container">
  <table mat-table [dataSource]="users" class="table mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="salario">
      <th mat-header-cell *matHeaderCellDef>Salario</th>
      <td mat-cell *matCellDef="let element">{{ element.salary }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cargo">
      <th mat-header-cell *matHeaderCellDef>Cargo</th>
      <td mat-cell *matCellDef="let element">{{ element.position.name }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <a (click)="editUser(element)">Edit</a>||
        <a (click)="deleteUser(element)">delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colums"></tr>
    <tr mat-row *matRowDef="let row; columns: colums"></tr>
  </table>
</div>
