<h1 mat-dialog-title>¿Desea eliminar este usuario?</h1>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button (click)="delete()" [mat-dialog-close] cdkFocusInitial>
    SI
  </button>
</div>
