<div>
  <a href="/">Atras</a>
  <div>
    <img src="" alt="" />
  </div>
  <div>
    <p>{{ user.firstName }}</p>
    <p>{{ user.lastName }}</p>
    <p>{{ user.position.name }}</p>
    <p>{{ user.salary }}</p>
    <p>{{ user.email }}</p>
  </div>
  <div>
    <button (click)="open('edit')">Editar</button>
  </div>
</div>
