<h1 mat-dialog-title>Nuevo trabajador</h1>
<div class="modal-content">
  <input [(ngModel)]="user.firstName" matInput placeholder="Nombre" />
  <input [(ngModel)]="user.lastName" matInput placeholder="Apellidos" />
  <input [(ngModel)]="user.email" matInput placeholder="Correo" />

  <select *ngIf="flag" matNativeControl required [(ngModel)]="user.position">
    <option value="" selected disabled>Cargo</option>
    <option *ngFor="let pos of position" [value]="pos._id">{{
      pos.name
    }}</option>
  </select>
  <select *ngIf="!flag" matNativeControl required [(ngModel)]="user.position">
    <option value="" selected disabled>Cargo</option>
    <option *ngFor="let pos of position" [value]="pos._id">{{
      pos.name
    }}</option>
  </select>
  <div>
    <mat-slider min="0" max="5000" [(ngModel)]="user.salary"></mat-slider>
    <input type="number" [(ngModel)]="user.salary" />
  </div>
</div>
<div mat-dialog-actions>
  <span> (*) Campos obligatorios </span>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button
    *ngIf="flag"
    mat-button
    (click)="registerUser()"
    [mat-dialog-close]
    cdkFocusInitial
  >
    Ok
  </button>
  <button
    *ngIf="!flag"
    mat-button
    (click)="editUser()"
    [mat-dialog-close]
    cdkFocusInitial
  >
    Actualizar
  </button>
</div>
